<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.merive.press1mtimes">

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.google.zxing.client.android" />
    </queries>

    <application
        android:icon="@mipmap/ic_launcher_default"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_default_round"
        android:theme="@style/Theme.Press1MTimes">
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Press1MTimes.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Press1MTimes"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="press1mtimes" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.FinishActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Press1MTimes">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ScannerActivity"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity-alias
            android:name="Short"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_short"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_short_round"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="Million"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_million"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_million_round"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".receivers.NotificationReceiver"
            android:exported="false" />
    </application>

</manifest>